body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: left;
}
.container {
  width: auto;
}
.form-group {
	padding: 10px;
}
nav {
	height: 50px;
	line-height: 50px;
	vertical-align: left;
	padding-left: 20px; 
	margin-bottom: 10px;
}
.navbar-brand {
	font-size: 20px;
}
#navbar {
	font-size: 20px;
}
#logo {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
